	table {
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	section.notice {
	  padding-top: 100px;
	  padding-bottom: 300px;
	}
	
	.page-title {
	  margin-bottom: 60px;
	}
	.page-title h3 {
	  font-size: 28px;
	  color: #333333;
	  font-weight: 400;
	  text-align: center;
	}
	
	#board-search .search-window {
	  padding: 15px 0;
	  background-color: #f9f7f9;
	  border-top: 3px solid navy;
	}
	.search-form{
		width: 100%;
	}
	#board-search .search-window .search-wrap {
	/*   padding-right: 124px; */
	  margin: 0 auto;
	  width: 80%;
	  max-width: 564px;
	  height: 80px;;
	}
	#board-search .search-window .search-wrap input {
	  height: 40px;
	  width: 70%;
	  font-size: 14px;
	  padding: 7px 14px;
	  border: 1px solid #ccc;
	  float: left;
	  display: inline;
	}
	#country{
		height: 40px;
		width: 15%;
		text-align: center;
		display: inline;
		float: left;
	}
	#search_word{
		right: 10px;	
	}
	#board-search .search-window .search-wrap input:focus {
	  border-color: #333;
	  outline: 0;
	  border-width: 1px;
	}
	#board-search .search-window .search-wrap .btn {
	  padding: 0;
	  font-size: 16px;
	  display: inline;
	  width: 15%;
	  float: left;
	  height: 40px;
	  background: rgb(0, 173, 238);
	}
	
	.board-table {
	  font-size: 14px;
	  width: 100%;
	  border-bottom: 1px solid #ccc;
	  text-decoration: none;
	}
	
	.board-table a {
	  color: #333;
	  display: inline-block;
	  line-height: 1.4;
	  word-break: break-all;
	  vertical-align: middle;
	}
	.board-table a:hover {
	  text-decoration: underline;
	}
	.board-table th {
	  text-align: center;
	}
	
	.board-table .th-num {
	  width: 100px;
	  text-align: center;
	}
	
	.board-table th, .board-table td {
	  padding: 14px 0;
	}
	
	.board-table tbody td {
	  border-top: 1px solid #e7e7e7;
	  text-align: center;
	}
	
	.board-table tbody th {
	  padding-left: 28px;
	  padding-right: 14px;
	  border-top: 1px solid #e7e7e7;
	  text-align: left;
	}
	
	
	.board-table tbody th p{
	  display: none;
	}
	
	.btn {
	  display: inline-block;
	  padding: 0 30px;
	  font-size: 15px;
	  font-weight: 400;
	  background: transparent;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	  touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  border: 1px solid transparent;
	  text-transform: uppercase;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -ms-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	  
	}
	
	.btn-dark {
	  background: #555;
	  color: #fff;
	}
	
	.btn-dark:hover, .btn-dark:focus {
	  background: #373737;
	  border-color: #373737;
	  color: #fff;
	}
	
	.btn-dark {
	  background: #555;
	  color: #fff;
	}
	
	.btn-dark:hover, .btn-dark:focus {
	  background: #373737;
	  border-color: #373737;
	  color: #fff;
	}
	
	/* reset */
	
	* {
	  text-decoration: none;
	}
	.clearfix:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	.container {
	  width: 1100px;
	  margin: 0 auto;
	}
	.blind {
	  position: absolute;
	  overflow: hidden;
	  clip: rect(0 0 0 0);
	  margin: -1px;
	  width: 1px;
	  height: 1px;
	}
	.search-window span{
		color: #333;
	    display: inline-block;
	    line-height: 1.4;
	    word-break: break-all;
	    vertical-align: middle;
	    text-indent: initial;
    	white-space: normal;
    	font-weight: bold;
    	margin-left:20px;
	}
	
	body  div  table  thead  tr  th:nth-child(1){width:5%}
   	body  div  table  thead  tr  th:nth-child(2){width:50%}
   	body  div  table  thead  tr  th:nth-child(3){width:10%}
   	body  div  table  thead  tr  th:nth-child(4){width:10%}
    body  div  table  thead  tr  th:nth-child(5){width:10%}
    body  div  table  thead  tr  th:nth-child(6){width:10%}
    
    .page_wrap {
    	margin-top:30px;
		text-align:center;
		font-size:0;
	 }
	.page_nation {
		display:inline-block;
		margin-right: 100px;
	}
	.page_nation a {
		display:block;
		margin:0 3px;
		float:left;
		border:1px solid #e6e6e6;
		width:28px;
		height:28px;
		line-height:28px;
		text-align:center;
		background-color:#fff;
		font-size:13px;
		color:#999999;
		text-decoration:none;
	}
	.page_nation .arrow {
		border:1px solid #ccc;
	}
	.page_nation .prev {
		background:#f8f8f8 url('../image/page_prev.png') no-repeat center center;
		margin-right:7px;
	}
	.page_nation .next {
		background:#f8f8f8 url('../image/page_next.png') no-repeat center center;
		margin-left:7px;
	}
	.page_nation a.active {
		background-color:#1e62ff;
		color:#fff;
		border:1px solid #1e62ff;
	}
	.write{
		background: #afc7ff;
		float: right;
		height: 35px;
	}
	.write:hover{
		background: #1e62ff;
	}
	#department{
		height: 40px;
		width: 10%;
		text-align: center;
		display: inline;
		float: left;	
	}
	#listse{
		margin-left:10px;
		height: 40px;
		width: 10%;
		text-align: center;
		display: inline;
		float: left;	
	}
	#board-search h2{
		font-size: 2.4rem;
		margin-bottom: 0px;
	}
	.title-td div:nth-child(1){
		text-align: left;
		padding-left: 15px;
		font-weight: bold;
		text-decoration: none;
	}
	#new{
		width: 25px;
		position: relative;
        top: 6px;
	}
	body{
		margin:100px 0 0 0;
	}
	.container p{
		margin-bottom: 30px;
	}
	.board-table thead tr{
		background-color: rgb(238,247,250);
		font-size: 15px;
	}
	.bolist{
		text-decoration: none;
		color : black;
	}
	.tbodyh2{
		text-align: center;
	}